In [1]:
import pandas as pd


df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/linux_disk_1.csv")

/tmp/ipykernel_5856/3479059527.py:4: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/linux_disk_1.csv")

In [2]:
df.dtypes

ts         int64
PID        int64
RDDSK     object
WRDSK     object
WCANCL    object
DSK       object
CMD       object
label      int64
type      object
dtype: object

In [3]:
column_name = "RDDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

RDDSK:
before_len 1000000
before_n 878
after_len 941954
after_n 391

In [4]:
column_name = "WRDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WRDSK:
before_len 941954
before_n 816
after_len 939852
after_n 761

In [5]:
column_name = "WCANCL"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WCANCL:
before_len 939852
before_n 70
after_len 939852
after_n 56

In [6]:
column_name = "DSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

DSK:
before_len 939852
before_n 190
after_len 939852
after_n 101

In [7]:
df.dtypes

ts          int64
PID         int64
RDDSK     float64
WRDSK     float64
WCANCL    float64
DSK       float64
CMD        object
label       int64
type       object
dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["CMD_encoded"] = encoder.fit_transform(df["CMD"])


df.head()
# df_combined = pd.concat([df, encoded_df], axis=1)

,ts,PID,RDDSK,WRDSK,WCANCL,DSK,CMD,label,type,CMD_encoded
0,1554218915,3197,148.2,37340.0,12328.0,0.22,firefox,0,normal,285
1,1554218920,2327,32824.0,688.0,4.0,0.04,init,0,normal,364
2,1554218925,2797,23468.0,7416.0,6152.0,0.04,nautilus,0,normal,526
3,1554218930,2801,3612.0,14320.0,0.0,0.02,tracer-store,0,normal,576
4,1554218935,2993,5184.0,11152.0,0.0,0.02,zeitgeist-fts,0,normal,609

In [10]:
new_order = ['PID', 'RDDSK', 'WRDSK', 'WCANCL', 'DSK', 'CMD_encoded', 'label']

In [12]:
df = df[new_order]

In [13]:
df.dtypes

PID              int64
RDDSK          float64
WRDSK          float64
WCANCL         float64
DSK            float64
CMD_encoded      int64
label            int64
dtype: object

In [14]:
df

         PID    RDDSK    WRDSK   WCANCL   DSK  CMD_encoded  label
0       3197    148.2  37340.0  12328.0  0.22          285      0
1       2327  32824.0    688.0      4.0  0.04          364      0
2       2797  23468.0   7416.0   6152.0  0.04          526      0
3       2801   3612.0  14320.0      0.0  0.02          576      0
4       2993   5184.0  11152.0      0.0  0.02          609      0
...      ...      ...      ...      ...   ...          ...    ...
999995  1279      0.0      0.0      0.0  0.00          524      0
999996  3024      0.0      0.0      0.0  0.00          237      0
999997  1414      0.0      0.0      0.0  0.00          596      0
999998  2918      0.0      0.0      0.0  0.00          233      0
999999  3132      0.0      0.0      0.0  0.00          233      0

[939852 rows x 7 columns]

In [15]:
df.to_csv('../preprocessed_data/Linux_disk_LE.csv', index=False)