In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("../preprocessed_data/Linux_disk_LE.csv")
df

/tmp/ipykernel_5547/2597973296.py:5: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../preprocessed_data/Linux_disk_LE.csv")

         PID    RDDSK  WRDSK WCANCL   DSK  CMD_encoded  label
0       3197    148.2  37340  12328  0.22          304      0
1       2327  32824.0    688      4  0.04          385      0
2       2797  23468.0   7416   6152  0.04          555      0
3       2801   3612.0  14320      0  0.02          607      0
4       2993   5184.0  11152      0  0.02          641      0
...      ...      ...    ...    ...   ...          ...    ...
999995  1279      0.0    0.0      0   0.0          553      0
999996  3024      0.0    0.0      0   0.0          253      0
999997  1414      0.0    0.0      0   0.0          628      0
999998  2918      0.0    0.0      0   0.0          249      0
999999  3132      0.0    0.0      0   0.0          249      0

[1000000 rows x 7 columns]

In [2]:
df.dtypes

PID             int64
RDDSK          object
WRDSK          object
WCANCL         object
DSK            object
CMD_encoded     int64
label           int64
dtype: object

In [3]:
column_name = "RDDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

RDDSK:
before_len 1000000
before_n 944
after_len 941954
after_n 391

In [4]:
column_name = "WRDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WRDSK:
before_len 941954
before_n 858
after_len 939852
after_n 761

/tmp/ipykernel_5547/4207556704.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = pd.to_numeric(df[column_name], errors='coerce')

In [5]:
column_name = "WCANCL"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WCANCL:
before_len 939852
before_n 71
after_len 939852
after_n 56

In [6]:
column_name = "DSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

DSK:
before_len 939852
before_n 202
after_len 939852
after_n 101

In [7]:
from sklearn.preprocessing import MinMaxScaler
# スケーリングを適用する列
columns_to_scale = ['PID', 'RDDSK', 'WRDSK', 'WCANCL', 'DSK']

# MinMaxScalerのインスタンスを作成
scaler = MinMaxScaler()

# MinMaxScalerの適用
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# 結果を表示
df

             PID     RDDSK     WRDSK    WCANCL   DSK  CMD_encoded  label
0       0.097186  0.001521  0.503995  0.167119  0.22          304      0
1       0.058578  0.336988  0.009286  0.000054  0.04          385      0
2       0.079436  0.240935  0.100097  0.083397  0.04          555      0
3       0.079613  0.037083  0.193284  0.000000  0.02          607      0
4       0.088133  0.053222  0.150524  0.000000  0.02          641      0
...          ...       ...       ...       ...   ...          ...    ...
999995  0.012071  0.000000  0.000000  0.000000  0.00          553      0
999996  0.089509  0.000000  0.000000  0.000000  0.00          253      0
999997  0.018062  0.000000  0.000000  0.000000  0.00          628      0
999998  0.084805  0.000000  0.000000  0.000000  0.00          249      0
999999  0.094302  0.000000  0.000000  0.000000  0.00          249      0

[939852 rows x 7 columns]

In [8]:
df.to_csv('../preprocessed_data/Linux_disk_LE-MM.csv', index=False)