In [1]:
import pandas as pd

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/linux_disk_1.csv")

/tmp/ipykernel_7663/741040885.py:4: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/linux_disk_1.csv")

In [2]:
column_name = "RDDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

RDDSK:
before_len 1000000
before_n 878
after_len 941954
after_n 391

In [3]:
column_name = "WRDSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WRDSK:
before_len 941954
before_n 816
after_len 939852
after_n 761

In [4]:
column_name = "WCANCL"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

WCANCL:
before_len 939852
before_n 70
after_len 939852
after_n 56

In [5]:
column_name = "DSK"
print(f"{column_name}:")

before_n = df[column_name].nunique()
print(f"before_len {len(df)}")
print(f"before_n {before_n}")


df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
df = df.dropna(subset=[column_name])
                  
after_n = df[column_name].nunique()

print(f"after_len {len(df)}")
print(f"after_n {after_n}")

DSK:
before_len 939852
before_n 190
after_len 939852
after_n 101

In [6]:
df

,ts,PID,RDDSK,WRDSK,WCANCL,DSK,CMD,label,type
0,1554218915,3197,148.2,37340.0,12328.0,0.22,firefox,0,normal
1,1554218920,2327,32824.0,688.0,4.0,0.04,init,0,normal
2,1554218925,2797,23468.0,7416.0,6152.0,0.04,nautilus,0,normal
3,1554218930,2801,3612.0,14320.0,0.0,0.02,tracer-store,0,normal
4,1554218935,2993,5184.0,11152.0,0.0,0.02,zeitgeist-fts,0,normal
...,...,...,...,...,...,...,...,...,...
999995,1556794008,1279,0.0,0.0,0.0,0.00,mysqld,0,normal
999996,1556794013,3024,0.0,0.0,0.0,0.00,WebExtensions,0,normal
999997,1556794018,1414,0.0,0.0,0.0,0.00,vmtoolsd,0,normal
999998,1556794023,2918,0.0,0.0,0.0,0.00,Web Content,0,normal
999999,1556794028,3132,0.0,0.0,0.0,0.00,Web Content,0,normal

In [7]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse_output=False)

# CMD列のエンコーディングを適用
CMD_encoded = encoder.fit_transform(df[['CMD']])

# エンコードされたデータを DataFrame に変換
CMD_encoded_df = pd.DataFrame(CMD_encoded, columns=encoder.get_feature_names_out(['CMD']), index=df.index)

# ワンホットエンコードされたCMD列を元のDataFrameに結合
df = pd.concat([df.drop(columns=['CMD']), CMD_encoded_df], axis=1)

# 結果を確認
print(df.head())

           ts   PID    RDDSK    WRDSK   WCANCL   DSK  label    type  \
0  1554218915  3197    148.2  37340.0  12328.0  0.22      0  normal
1  1554218920  2327  32824.0    688.0      4.0  0.04      0  normal
2  1554218925  2797  23468.0   7416.0   6152.0  0.04      0  normal
3  1554218930  2801   3612.0  14320.0      0.0  0.02      0  normal
4  1554218935  2993   5184.0  11152.0      0.0  0.02      0  normal

   CMD_(fprintd)  CMD_(sd-pam)  ...  CMD_window-stack-b  CMD_worer/3:2  \
0            0.0           0.0  ...                 0.0            0.0
1            0.0           0.0  ...                 0.0            0.0
2            0.0           0.0  ...                 0.0            0.0
3            0.0           0.0  ...                 0.0            0.0
4            0.0           0.0  ...                 0.0            0.0

   CMD_worer/u256:0  CMD_xargs  CMD_xdg-permission  CMD_xfs_mru_cache  \
0               0.0        0.0                 0.0                0.0
1               0.0        0.0                 0.0                0.0
2               0.0        0.0                 0.0                0.0
3               0.0        0.0                 0.0                0.0
4               0.0        0.0                 0.0                0.0

   CMD_xfsalloc  CMD_zeitgeist-daem  CMD_zeitgeist-data  CMD_zeitgeist-fts
0           0.0                 0.0                 0.0                0.0
1           0.0                 0.0                 0.0                0.0
2           0.0                 0.0                 0.0                0.0
3           0.0                 0.0                 0.0                0.0
4           0.0                 0.0                 0.0                1.0

[5 rows x 618 columns]

In [8]:
third_index = len(df) // 10

In [9]:
df  = df.drop(columns=["ts", "type"])

In [10]:
df.iloc[:third_index].to_csv('../preprocessed_data/Linux_disk_GD.csv', index=False)