In [1]:
import pandas as pd


df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/Linux_process_1.csv")

In [2]:
df.dtypes

ts          int64
PID         int64
TRUN        int64
TSLPI       int64
TSLPU       int64
POLI       object
NICE        int64
PRI         int64
RTPR        int64
CPUNR       int64
Status     object
EXC         int64
State      object
CPU       float64
CMD        object
label       int64
type       object
dtype: object

In [3]:
df

,ts,PID,TRUN,TSLPI,TSLPU,POLI,NICE,PRI,RTPR,CPUNR,Status,EXC,State,CPU,CMD,label,type
0,1554218915,3257,0,23,0,norm,0,120,0,2,N,0,S,0.13,Web-Content,0,normal
1,1554218920,1442,0,1,0,norm,0,120,0,0,N,0,S,0.09,Xorg,0,normal
2,1554218925,3197,0,63,0,norm,0,120,0,3,N,0,S,0.06,firefox,0,normal
3,1554218930,2774,0,8,0,norm,0,120,0,0,N,0,S,0.06,compiz,0,normal
4,1554218935,2797,0,5,0,norm,0,120,0,0,N,0,S,0.04,nautilus,0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1556739903,4075,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999996,1556739908,2118,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999997,1556739913,2121,0,1,0,norm,0,120,0,0,-,0,S,0.00,apache2,0,normal
999998,1556739918,2123,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999999,1556739923,1878,0,2,0,norm,0,120,0,0,-,0,S,0.00,vmtoolsd,0,normal

In [4]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["Status_encoded"] = encoder.fit_transform(df["Status"])
df["State_encoded"] = encoder.fit_transform(df["State"])
df["POLI_encoded"] = encoder.fit_transform(df["POLI"])

df["CMD_encoded"] = encoder.fit_transform(df["CMD"])

df.head()
# df_combined = pd.concat([df, encoded_df], axis=1)

,ts,PID,TRUN,TSLPI,TSLPU,POLI,NICE,PRI,RTPR,CPUNR,...,EXC,State,CPU,CMD,label,type,Status_encoded,State_encoded,POLI_encoded,CMD_encoded
0,1554218915,3257,0,23,0,norm,0,120,0,2,...,0,S,0.13,Web-Content,0,normal,3,3,2,153
1,1554218920,1442,0,1,0,norm,0,120,0,0,...,0,S,0.09,Xorg,0,normal,3,3,2,155
2,1554218925,3197,0,63,0,norm,0,120,0,3,...,0,S,0.06,firefox,0,normal,3,3,2,197
3,1554218930,2774,0,8,0,norm,0,120,0,0,...,0,S,0.06,compiz,0,normal,3,3,2,177
4,1554218935,2797,0,5,0,norm,0,120,0,0,...,0,S,0.04,nautilus,0,normal,3,3,2,275

In [5]:
df.dtypes

ts                  int64
PID                 int64
TRUN                int64
TSLPI               int64
TSLPU               int64
POLI               object
NICE                int64
PRI                 int64
RTPR                int64
CPUNR               int64
Status             object
EXC                 int64
State              object
CPU               float64
CMD                object
label               int64
type               object
Status_encoded      int64
State_encoded       int64
POLI_encoded        int64
CMD_encoded         int64
dtype: object

In [6]:
new_order = ['PID', 'TRUN', 'TSLPI', 'TSLPU', 'NICE', 'PRI', 'RTPR', 'CPUNR', 'EXC', 'CPU', 'Status_encoded', 'State_encoded', 'POLI_encoded', 'CMD_encoded', 'label']

In [7]:
df = df[new_order]

In [8]:
df.dtypes

PID                 int64
TRUN                int64
TSLPI               int64
TSLPU               int64
NICE                int64
PRI                 int64
RTPR                int64
CPUNR               int64
EXC                 int64
CPU               float64
Status_encoded      int64
State_encoded       int64
POLI_encoded        int64
CMD_encoded         int64
label               int64
dtype: object

In [9]:
df

,PID,TRUN,TSLPI,TSLPU,NICE,PRI,RTPR,CPUNR,EXC,CPU,Status_encoded,State_encoded,POLI_encoded,CMD_encoded,label
0,3257,0,23,0,0,120,0,2,0,0.13,3,3,2,153,0
1,1442,0,1,0,0,120,0,0,0,0.09,3,3,2,155,0
2,3197,0,63,0,0,120,0,3,0,0.06,3,3,2,197,0
3,2774,0,8,0,0,120,0,0,0,0.06,3,3,2,177,0
4,2797,0,5,0,0,120,0,0,0,0.04,3,3,2,275,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,4075,0,1,0,0,120,0,3,0,0.00,0,3,2,160,0
999996,2118,0,1,0,0,120,0,3,0,0.00,0,3,2,160,0
999997,2121,0,1,0,0,120,0,0,0,0.00,0,3,2,160,0
999998,2123,0,1,0,0,120,0,3,0,0.00,0,3,2,160,0
999999,1878,0,2,0,0,120,0,0,0,0.00,0,3,2,319,0

In [10]:
df.to_csv('../preprocessed_data/Linux_process_LE.csv', index=False)