In [1]:
import pandas as pd

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Linux_data/Linux_process_1.csv")

In [2]:
df

,ts,PID,TRUN,TSLPI,TSLPU,POLI,NICE,PRI,RTPR,CPUNR,Status,EXC,State,CPU,CMD,label,type
0,1554218915,3257,0,23,0,norm,0,120,0,2,N,0,S,0.13,Web-Content,0,normal
1,1554218920,1442,0,1,0,norm,0,120,0,0,N,0,S,0.09,Xorg,0,normal
2,1554218925,3197,0,63,0,norm,0,120,0,3,N,0,S,0.06,firefox,0,normal
3,1554218930,2774,0,8,0,norm,0,120,0,0,N,0,S,0.06,compiz,0,normal
4,1554218935,2797,0,5,0,norm,0,120,0,0,N,0,S,0.04,nautilus,0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1556739903,4075,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999996,1556739908,2118,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999997,1556739913,2121,0,1,0,norm,0,120,0,0,-,0,S,0.00,apache2,0,normal
999998,1556739918,2123,0,1,0,norm,0,120,0,3,-,0,S,0.00,apache2,0,normal
999999,1556739923,1878,0,2,0,norm,0,120,0,0,-,0,S,0.00,vmtoolsd,0,normal

In [3]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["CMD_encoded"] = encoder.fit_transform(df["CMD"])

df.head()

,ts,PID,TRUN,TSLPI,TSLPU,POLI,NICE,PRI,RTPR,CPUNR,Status,EXC,State,CPU,CMD,label,type,CMD_encoded
0,1554218915,3257,0,23,0,norm,0,120,0,2,N,0,S,0.13,Web-Content,0,normal,153
1,1554218920,1442,0,1,0,norm,0,120,0,0,N,0,S,0.09,Xorg,0,normal,155
2,1554218925,3197,0,63,0,norm,0,120,0,3,N,0,S,0.06,firefox,0,normal,197
3,1554218930,2774,0,8,0,norm,0,120,0,0,N,0,S,0.06,compiz,0,normal,177
4,1554218935,2797,0,5,0,norm,0,120,0,0,N,0,S,0.04,nautilus,0,normal,275

In [4]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse_output=False)

# CMD列のエンコーディングを適用
CMD_encoded = encoder.fit_transform(df[['POLI']])

# エンコードされたデータを DataFrame に変換
CMD_encoded_df = pd.DataFrame(CMD_encoded, columns=encoder.get_feature_names_out(['POLI']), index=df.index)

# ワンホットエンコードされたCMD列を元のDataFrameに結合
df = pd.concat([df.drop(columns=['POLI']), CMD_encoded_df], axis=1)

# 結果を確認
print(df.head())

           ts   PID  TRUN  TSLPI  TSLPU  NICE  PRI  RTPR  CPUNR Status  EXC  \
0  1554218915  3257     0     23      0     0  120     0      2      N    0
1  1554218920  1442     0      1      0     0  120     0      0      N    0
2  1554218925  3197     0     63      0     0  120     0      3      N    0
3  1554218930  2774     0      8      0     0  120     0      0      N    0
4  1554218935  2797     0      5      0     0  120     0      0      N    0

  State   CPU          CMD  label    type  CMD_encoded  POLI_-  POLI_0  \
0     S  0.13  Web-Content      0  normal          153     0.0     0.0
1     S  0.09         Xorg      0  normal          155     0.0     0.0
2     S  0.06      firefox      0  normal          197     0.0     0.0
3     S  0.06       compiz      0  normal          177     0.0     0.0
4     S  0.04     nautilus      0  normal          275     0.0     0.0

   POLI_norm
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0

In [5]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse_output=False)

# CMD列のエンコーディングを適用
CMD_encoded = encoder.fit_transform(df[['Status']])

# エンコードされたデータを DataFrame に変換
CMD_encoded_df = pd.DataFrame(CMD_encoded, columns=encoder.get_feature_names_out(['Status']), index=df.index)

# ワンホットエンコードされたCMD列を元のDataFrameに結合
df = pd.concat([df.drop(columns=['Status']), CMD_encoded_df], axis=1)

# 結果を確認
print(df.head())

           ts   PID  TRUN  TSLPI  TSLPU  NICE  PRI  RTPR  CPUNR  EXC  ...  \
0  1554218915  3257     0     23      0     0  120     0      2    0  ...
1  1554218920  1442     0      1      0     0  120     0      0    0  ...
2  1554218925  3197     0     63      0     0  120     0      3    0  ...
3  1554218930  2774     0      8      0     0  120     0      0    0  ...
4  1554218935  2797     0      5      0     0  120     0      0    0  ...

  POLI_-  POLI_0 POLI_norm  Status_- Status_0  Status_C  Status_N  Status_NC  \
0    0.0     0.0       1.0       0.0      0.0       0.0       1.0        0.0
1    0.0     0.0       1.0       0.0      0.0       0.0       1.0        0.0
2    0.0     0.0       1.0       0.0      0.0       0.0       1.0        0.0
3    0.0     0.0       1.0       0.0      0.0       0.0       1.0        0.0
4    0.0     0.0       1.0       0.0      0.0       0.0       1.0        0.0

   Status_NE  Status_NS
0        0.0        0.0
1        0.0        0.0
2        0.0        0.0
3        0.0        0.0
4        0.0        0.0

[5 rows x 26 columns]

In [6]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse_output=False)

# CMD列のエンコーディングを適用
CMD_encoded = encoder.fit_transform(df[['State']])

# エンコードされたデータを DataFrame に変換
CMD_encoded_df = pd.DataFrame(CMD_encoded, columns=encoder.get_feature_names_out(['State']), index=df.index)

# ワンホットエンコードされたCMD列を元のDataFrameに結合
df = pd.concat([df.drop(columns=['State']), CMD_encoded_df], axis=1)

# 結果を確認
print(df.head())

           ts   PID  TRUN  TSLPI  TSLPU  NICE  PRI  RTPR  CPUNR  EXC  ...  \
0  1554218915  3257     0     23      0     0  120     0      2    0  ...
1  1554218920  1442     0      1      0     0  120     0      0    0  ...
2  1554218925  3197     0     63      0     0  120     0      3    0  ...
3  1554218930  2774     0      8      0     0  120     0      0    0  ...
4  1554218935  2797     0      5      0     0  120     0      0    0  ...

   Status_N Status_NC  Status_NE Status_NS  State_D  State_E  State_R  \
0       1.0       0.0        0.0       0.0      0.0      0.0      0.0
1       1.0       0.0        0.0       0.0      0.0      0.0      0.0
2       1.0       0.0        0.0       0.0      0.0      0.0      0.0
3       1.0       0.0        0.0       0.0      0.0      0.0      0.0
4       1.0       0.0        0.0       0.0      0.0      0.0      0.0

   State_S  State_T  State_Z
0      1.0      0.0      0.0
1      1.0      0.0      0.0
2      1.0      0.0      0.0
3      1.0      0.0      0.0
4      1.0      0.0      0.0

[5 rows x 31 columns]

In [7]:
df

,ts,PID,TRUN,TSLPI,TSLPU,NICE,PRI,RTPR,CPUNR,EXC,...,Status_N,Status_NC,Status_NE,Status_NS,State_D,State_E,State_R,State_S,State_T,State_Z
0,1554218915,3257,0,23,0,0,120,0,2,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1554218920,1442,0,1,0,0,120,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1554218925,3197,0,63,0,0,120,0,3,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1554218930,2774,0,8,0,0,120,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1554218935,2797,0,5,0,0,120,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1556739903,4075,0,1,0,0,120,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
999996,1556739908,2118,0,1,0,0,120,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
999997,1556739913,2121,0,1,0,0,120,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
999998,1556739918,2123,0,1,0,0,120,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
999999,1556739923,1878,0,2,0,0,120,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
df  = df.drop(columns=["ts", "type", "CMD"])

In [9]:
df.to_csv('../preprocessed_data/Linux_process_GD.csv', index=False)