In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/preprocessed_data/GD_TON-iot.csv")
# temp_conditionの文字列をトリム（前後の空白削除）
# df['temp_condition'] = df['temp_condition'].str.strip()
# 一意の値をチェック
# print(df['temp_condition'].unique())
df

,hour,minute,second,fridge_temperature,temp_condition_high,temp_condition_low,label
0,12,36,52,13.10,1.0,0.0,0
1,12,36,53,8.65,1.0,0.0,0
2,12,36,54,2.00,0.0,1.0,0
3,12,36,55,4.80,0.0,1.0,0
4,12,36,56,10.70,1.0,0.0,0
...,...,...,...,...,...,...,...
587071,12,41,17,4.00,0.0,1.0,0
587072,12,41,17,6.05,1.0,0.0,0
587073,12,41,17,12.80,1.0,0.0,0
587074,12,41,18,6.50,1.0,0.0,0
587075,12,41,20,5.30,0.0,1.0,0

In [2]:
from sklearn.preprocessing import StandardScaler
# 標準化を適用する列
columns_to_scale = ['hour', 'minute', 'second', 'fridge_temperature']

# StandardScalerのインスタンスを作成
scaler = StandardScaler()

# 標準化の適用
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# 結果を表示
df

,hour,minute,second,fridge_temperature,temp_condition_high,temp_condition_low,label
0,0.418197,0.647441,1.311360,1.642293,1.0,0.0,0
1,0.418197,0.647441,1.369743,0.414644,1.0,0.0,0
2,0.418197,0.647441,1.428126,-1.419933,0.0,1.0,0
3,0.418197,0.647441,1.486508,-0.647480,0.0,1.0,0
4,0.418197,0.647441,1.544891,0.980190,1.0,0.0,0
...,...,...,...,...,...,...,...
587071,0.418197,0.948827,-0.732031,-0.868180,0.0,1.0,0
587072,0.418197,0.948827,-0.732031,-0.302634,1.0,0.0,0
587073,0.418197,0.948827,-0.732031,1.559530,1.0,0.0,0
587074,0.418197,0.948827,-0.673649,-0.178490,1.0,0.0,0
587075,0.418197,0.948827,-0.556883,-0.509541,0.0,1.0,0

In [3]:
df.to_csv('./preprocessed_data/GD-SS_TON-iot.csv', index=False)