In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Processed_IoT_dataset/IoT_Fridge.csv")

# temp_conditionの文字列をトリム（前後の空白削除）
df['temp_condition'] = df['temp_condition'].str.strip()

# 一意の値をチェック
print(df['temp_condition'].unique())

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse=False)

# ワンホットエンコーディングを適用
encoded = encoder.fit_transform(df[['temp_condition']])
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
# 結果の確認
print(encoded_df.head())

df_combined = pd.concat([df, encoded_df], axis=1)

['high' 'low']
   temp_condition_high  temp_condition_low
0                  1.0                 0.0
1                  1.0                 0.0
2                  0.0                 1.0
3                  0.0                 1.0
4                  1.0                 0.0

/home/eiji/miniconda3/envs/tf/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

# 時間

In [2]:
df_combined['time'] = df_combined['time'].str.strip()

In [3]:
df_combined['time']  = pd.to_datetime(df_combined['time'], format='%H:%M:%S').dt.time

In [4]:
df = df_combined

In [5]:
df['hour'] = df['time'].apply(lambda x: x.hour)
df['minute'] = df['time'].apply(lambda x: x.minute)
df['second'] = df['time'].apply(lambda x: x.second)

In [6]:
df = df.drop(columns=['date', 'time', 'temp_condition', 'type'])

In [7]:
new_order = ['hour', 'minute', 'second', 'fridge_temperature', 'temp_condition_high', 'temp_condition_low', 'label']

In [8]:
df = df[new_order]

In [9]:
df

,hour,minute,second,fridge_temperature,temp_condition_high,temp_condition_low,label
0,12,36,52,13.10,1.0,0.0,0
1,12,36,53,8.65,1.0,0.0,0
2,12,36,54,2.00,0.0,1.0,0
3,12,36,55,4.80,0.0,1.0,0
4,12,36,56,10.70,1.0,0.0,0
...,...,...,...,...,...,...,...
587071,12,41,17,4.00,0.0,1.0,0
587072,12,41,17,6.05,1.0,0.0,0
587073,12,41,17,12.80,1.0,0.0,0
587074,12,41,18,6.50,1.0,0.0,0
587075,12,41,20,5.30,0.0,1.0,0

In [10]:
df.to_csv('./preprocessed_data/GD_TON-iot.csv', index=False)