In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/preprocessed_data/LE_TON-iot.csv")
# temp_conditionの文字列をトリム（前後の空白削除）
# df['temp_condition'] = df['temp_condition'].str.strip()
# 一意の値をチェック
# print(df['temp_condition'].unique())
df

,hour,minute,second,fridge_temperature,temp_condition_encoded,label
0,12,36,52,13.10,1,0
1,12,36,53,8.65,1,0
2,12,36,54,2.00,0,0
3,12,36,55,4.80,0,0
4,12,36,56,10.70,1,0
...,...,...,...,...,...,...
587071,12,41,17,4.00,0,0
587072,12,41,17,6.05,1,0
587073,12,41,17,12.80,1,0
587074,12,41,18,6.50,1,0
587075,12,41,20,5.30,0,0

In [2]:
from sklearn.preprocessing import MinMaxScaler
# スケーリングを適用する列
columns_to_scale = ['hour', 'minute', 'second', 'fridge_temperature']

# MinMaxScalerのインスタンスを作成
scaler = MinMaxScaler()

# MinMaxScalerの適用
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# 結果を表示
df

,hour,minute,second,fridge_temperature,temp_condition_encoded,label
0,0.521739,0.610169,0.881356,0.930769,1,0
1,0.521739,0.610169,0.898305,0.588462,1,0
2,0.521739,0.610169,0.915254,0.076923,0,0
3,0.521739,0.610169,0.932203,0.292308,0,0
4,0.521739,0.610169,0.949153,0.746154,1,0
...,...,...,...,...,...,...
587071,0.521739,0.694915,0.288136,0.230769,0,0
587072,0.521739,0.694915,0.288136,0.388462,1,0
587073,0.521739,0.694915,0.288136,0.907692,1,0
587074,0.521739,0.694915,0.305085,0.423077,1,0
587075,0.521739,0.694915,0.338983,0.330769,0,0

In [3]:
df.to_csv('./preprocessed_data/LE-MM_TON-iot.csv', index=False)